<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Померанский шпиц</title>
    <style> mark {
    background: #ffcc50;
    padding: 0 5px;
    border: 1px dashed #435;
   }
    </style>
 </head>
<body>
<h1>Померанский шпиц</h1>
<p><img src="/static/images/spitz.jpg"></p>
<h3>Привет, Я <a href="https://ru.wikipedia.org
/wiki/%D0%9F%D0%BE%D0%BC%D0%B5%D1%80%D0%B0%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_
%D1%88%D0%BF%D0%B8%D1%86"> Померанский шпиц </a>  (миниатюрный шпиц.) —
    порода собак, относящаяся к категории «Шпицы и
    породы примитивного типа»</h3>
<h4>В Америке и в России долгое время этих шпицев называли иначе
    — цверг-шпицами или просто карликовыми.</h4>
<div> Это самый <strong> маленький </strong> представитель шпицев </div>
<div>Высота в холке <em> 16-21 </em> см для сук и <u> 18-22</u> см для кобелей,
    вес <mark>(примерный, может быть больше или меньше)</mark> 1,9—3,5 кг. </div>
</body>
</html>